<div ng-cloak id="wrapper">
	<div ng-include="'partials/sidebar-template.html'"></div>
	<div class="content animated bounceInUp" id="page-wrapper">
		<div id="page-inner">
			<div class="row fade-in one">
				<div class="col-md-12 goal-heading">
					<p>Help</p>
				</div>
			</div>
			<hr>

			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12 formelemep">
					<div class="checkbox1 checkbox-primary1">
						<p>For support, please contact your coach, your company
							contact person, admin@iaccel-atstakeperformance.com or Stephen
							Sorkin at 858-449-8205</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>